@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url('./assets/wall.jpg');
  background-position: center;
  background-size: cover;
}

html {
  width: 100vw;
  height: 100vh;
  
  font-family: "Roboto";
}


input {
  @apply
  border
  border-slate-300
  w-full
  p-1
  rounded
  outline-0
  }
  input:disabled {

    @apply
    bg-gray-300
    text-gray-400
    
  }

a {
  @apply
  mx-2
  cursor-pointer
  font-bold
  text-emerald-600
  duration-100
  hover:text-emerald-500
}

h1 {
  @apply
  text-lg
  font-bold
}

h2 {
  @apply
  text-base
  font-bold
}

button {
  @apply
  p-1
  px-3
  rounded
  m-1
  bg-emerald-700
  text-white
  duration-100
  hover:bg-emerald-600

}



